<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.ybmobileredis.mapper.RedPacketRecordMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
         INSERT INTO red_packet_record (amount, nick_name, img_url, uid, red_packet_id
            , create_time, update_time)
        VALUES (#{amount,jdbcType=INTEGER},
        #{nickName,jdbcType=VARCHAR},
        #{imgUrl,jdbcType=VARCHAR},
        #{uid,jdbcType=INTEGER},
        #{redPacketId,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>